<div class="container">
  <div class="row">
    <div class="col-md-6">
      <h2 class="mt-3">Form Data Mahasiswa</h2>
      <hr>
      <div class="form-group">
        <label for="nim">NIM</label>
        <input type="text" class="form-control" [(ngModel)]="nim">
        <label for="nim">Nama</label>
        <input type="text" class="form-control" [(ngModel)]="nama">
        <label for="nim">Kelas</label>
        <input type="text" class="form-control" [(ngModel)]="kelas">
        <br>
        <button class="btn btn-block btn-primary" (click)="tambahMhs()">Tambah</button>
      </div>
    </div>
    <div class="col-md-6">
      <h2 class="mt-3">Data Mahasiswa</h2>
      <hr>
      <div class="card mb-3" *ngFor="let mhs of daftarMhs">
        <div class="card-header">
            <h3>{{ mhs.nama }}</h3>
        </div>
        <div class="card-body">
            <h5 class="card-title">{{ mhs.nim }}</h5>
            <p [ngStyle]="{'font-style': italic}">{{ mhs.kelas }}</p>
        </div>
      </div>
    </div>
  </div>
</div>
